.highlightpost {
	border-radius: 7px;
	margin: auto;
	padding-bottom: 30px;
	width: 650px;

	a {
		font-size: 26px;
		font-weight: 900;
	}

	.details {
		h3 {
			font-size: 30px;
			margin-bottom: 0;
		}

		> time {
			font-family: var(--font-secondary);
			font-size: 15px;
			font-weight: 300;
		}

		p {
			font-size: 15px;
			line-height: 20px;
		}
	}
}
