.logo {
	align-items: center;
	display: flex;
	height: 70px;
	justify-content: center;
	width: 70px;

	&.small {
		height: 36px;
		width: 36px;

		.name {
			font-size: 35px;
			font-weight: 700;
			margin-bottom: 6px;
			margin-left: -2px;
			text-align: center;
			width: 100%;
		}
	}

	.name {
		font-size: 70px;
		font-weight: 700;
		margin-bottom: 8px;
		margin-left: -5px;
		text-align: center;
		width: 100%;
	}
}
