a {
	text-decoration: none;
	color: var(--foreground);

	&:link {
		color: var(--foreground);
	}

	&:visited {
		color: var(--foreground);
	}

	&:hover {
		color: var(--accent);
	}

	&:active {
		color: var(--foreground);
	}
}
