@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

/* --font-weight-light: 200;
--font-weight-medium: 400;
--font-weight-bold: 700;
--font-weight-extra-bold: 900; */

/* :root {
	
}
*/

:root {
	/* default theme */
	--background: #fff;
	--foreground: #000;

	--font-primary: "Montserrat", sans-serif;
	--font-secondary: "Poppins", sans-serif;
}

[data-theme="dark"] {
	/* default theme */
	--background: #000;
	--foreground: #fff;
}

body {
	font-family: var(--font-primary);
	background: var(--background);
	color: var(--foreground);
	transition: background 0.5s;
}

a {
	color: var(--foreground);
}
