@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
	/* default theme */
	--background: #f9f9f9;
	--foreground: #2d2d2b;

	--font-primary: "Montserrat", sans-serif;
	--font-secondary: "Poppins", sans-serif;
}

[data-theme="dark"] {
	--background: #2d2d2b;
	--foreground: #f9f9f9;
}

body {
	font-family: var(--font-primary);
	background: var(--background);
	color: var(--foreground);
	transition: background 0.5s;
}

a {
	color: var(--foreground);
}

.custom-classname.react-toggle {
	touch-action: pan-x;

	display: inline-block;
	position: relative;
	cursor: pointer;
	background-color: transparent;
	border: 0;
	padding: 0;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

.custom-classname.react-toggle-screenreader-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.custom-classname.react-toggle--disabled {
	cursor: not-allowed;
	opacity: 0.5;
	-webkit-transition: opacity 0.25s;
	transition: opacity 0.25s;
}

.custom-classname.react-toggle-track {
	width: 50px;
	height: 24px;
	padding: 0;
	border-radius: 30px;
	background-color: #4d4d4d;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.custom-classname.react-toggle:hover:not(.react-toggle--disabled)
	.react-toggle-track {
	background-color: var(--foreground);
}

.custom-classname.react-toggle--checked .react-toggle-track {
	background-color: var(--foreground);
}

.custom-classname.react-toggle--checked:hover:not(.react-toggle--disabled)
	.react-toggle-track {
	background-color: var(--foreground);
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
	background-color: var(--foreground);
}

.react-toggle-track-check {
	position: absolute;
	width: 14px;
	height: 10px;
	top: -8px;
	bottom: 0px;
	margin-top: auto;
	margin-bottom: auto;
	line-height: 0;
	left: 5px;
	opacity: 0;
	-webkit-transition: opacity 0.25s ease;
	-moz-transition: opacity 0.25s ease;
	transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
	opacity: 1;
	-webkit-transition: opacity 0.25s ease;
	-moz-transition: opacity 0.25s ease;
	transition: opacity 0.25s ease;
}

.custom-classname.react-toggle-track-x {
	position: absolute;
	width: 10px;
	height: 10px;
	top: 0px;
	bottom: 0px;
	margin-top: auto;
	margin-bottom: auto;
	line-height: 0;
	right: 10px;
	opacity: 1;
	-webkit-transition: opacity 0.25s ease;
	-moz-transition: opacity 0.25s ease;
	transition: opacity 0.25s ease;
}

.custom-classname.react-toggle--checked .react-toggle-track-x {
	opacity: 0;
}

.custom-classname.react-toggle-thumb {
	transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	position: absolute;
	top: 1px;
	left: 1px;
	width: 22px;
	height: 22px;
	border: 1px solid #4d4d4d;
	border-radius: 50%;
	background-color: #fafafa;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.custom-classname.react-toggle--checked .react-toggle-thumb {
	left: 27px;
	border-color: #19ab27;
}

.custom-classname.react-toggle--focus .react-toggle-thumb {
	-webkit-box-shadow: 0px 0px 3px 2px #ee00ce;
	-moz-box-shadow: 0px 0px 3px 2px #ee00ce;
	box-shadow: 0px 0px 2px 3px #ee00ce;
}

.custom-classname.react-toggle:active:not(.react-toggle--disabled)
	.react-toggle-thumb {
	-webkit-box-shadow: 0px 0px 5px 5px #ee00ce;
	-moz-box-shadow: 0px 0px 5px 5px #ee00ce;
	box-shadow: 0px 0px 5px 5px #ee00ce;
}
