@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
	--font-primary: "Montserrat", sans-serif;
	--font-secondary: "Poppins", sans-serif;
}

body {
	font-family: var(--font-primary);
	background-color: var(--background);
	color: var(--foreground);
	min-height: 100vh;
	transition: background-color 0.3s;
}

body.light {
	--background: #f9f9f9;
	--foreground: #0d1117;
	--pink: #f7a6ce;
}

body.dark {
	-webkit-font-smoothing: antialiased;

	--background: #0d1117;
	--foreground: #f9f9f9;
	--pink: #c24c87;
}

a {
	text-decoration: none;
	color: var(--foreground);
}

/* unvisited link */
a:link {
	color: var(--foreground);
}

/* visited link */
a:visited {
	color: var(--foreground);
}

/* mouse over link */
a:hover {
	color: #ff69b4;
}

/* selected link */
a:active {
	color: var(--foreground);
}
